<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bloom - contact</title>
  <link rel="stylesheet" href="style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    @include('partials/header')


  <section class="contact" id="contact">
    <h1 class="heading"> <span> contact </span> us </h1>

    <div class="row">
      <!-- Contact Form -->
      <form action="">
        <input type="text" placeholder="name" class="box">
        <input type="email" placeholder="email" class="box">
        <input type="number" placeholder="number" class="box">
        <textarea class="box" placeholder="message" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
      </form>

      <div class="image">
        <img src="images/contact.jpg" alt="Customer service illustration">
      </div>
    </div>
  </section>


    @include('partials/footer')
    
</body>
</html>
